<link rel="stylesheet" href="./sass/components/_container.scss">
<!-- Головна секція -->
<section class="filmoteka films">
    <div class=" container">
      <h1 class="hidden">Filmoteka</h1>
      <ul class="films__list js-films-list">
<!-- ренд карток -->
<li class="movie_card">
  <img class="movie_card_img" src="https://s2.vcdn.biz/static/f/952980041/image.jpg" alt="film" />
  <p class="movie_card_title">title</p>
  <div class="movie_card_desc">
    <p class="movie_card_ganres">ganres</p>
    <p class="movie_card_year">year</p>
    <span class="movie_card_rating">rating</span>
  </div>
</li>
<li class="movie_card">
  <img class="movie_card_img" src="https://s2.vcdn.biz/static/f/952980041/image.jpg" alt="film" />
  <p class="movie_card_title">title</p>
  <div class="movie_card_desc">
    <p class="movie_card_ganres">ganres</p>
    <p class="movie_card_year">year</p>
    <span class="movie_card_rating">rating</span>
  </div>
</li>
<li class="movie_card">
  <img class="movie_card_img" src="https://s2.vcdn.biz/static/f/952980041/image.jpg" alt="film" />
  <p class="movie_card_title">title</p>
  <div class="movie_card_desc">
    <p class="movie_card_ganres">ganres</p>
    <p class="movie_card_year">year</p>
    <span class="movie_card_rating">rating</span>
  </div>
</li>
<li class="movie_card">
  <img class="movie_card_img" src="https://s2.vcdn.biz/static/f/952980041/image.jpg" alt="film" />
  <p class="movie_card_title">title</p>
  <div class="movie_card_desc">
    <p class="movie_card_ganres">ganres</p>
    <p class="movie_card_year">year</p>
    <span class="movie_card_rating">rating</span>
  </div>
</li>
<li class="movie_card">
  <img class="movie_card_img" src="https://s2.vcdn.biz/static/f/952980041/image.jpg" alt="film" />
  <p class="movie_card_title">title</p>
  <div class="movie_card_desc">
    <p class="movie_card_ganres">ganres</p>
    <p class="movie_card_year">year</p>
    <span class="movie_card_rating">rating</span>
  </div>
</li>
<li class="movie_card">
  <img class="movie_card_img" src="https://s2.vcdn.biz/static/f/952980041/image.jpg" alt="film" />
  <p class="movie_card_title">title</p>
  <div class="movie_card_desc">
    <p class="movie_card_ganres">ganres</p>
    <p class="movie_card_year">year</p>
    <span class="movie_card_rating">rating</span>
  </div>
</li>
<li class="movie_card">
  <img class="movie_card_img" src="https://s2.vcdn.biz/static/f/952980041/image.jpg" alt="film" />
  <p class="movie_card_title">title</p>
  <div class="movie_card_desc">
    <p class="movie_card_ganres">ganres</p>
    <p class="movie_card_year">year</p>
    <span class="movie_card_rating">rating</span>
  </div>
</li>
<li class="movie_card">
  <img class="movie_card_img" src="https://s2.vcdn.biz/static/f/952980041/image.jpg" alt="film" />
  <p class="movie_card_title">title</p>
  <div class="movie_card_desc">
    <p class="movie_card_ganres">ganres</p>
    <p class="movie_card_year">year</p>
    <span class="movie_card_rating">rating</span>
  </div>
</li>

<!-- test -->
      </ul>
    </div>
  </section>
 