.pagination {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
  gap: 3px;

  &__item {
    font-size: 12px;
    line-height: calc(16 / 12);
    display: flex;
    justify-content: center;
    fill: #000;
    stroke: #000;

    :hover,
    :focus {
      background-color: #ff6b08;
      border-radius: 5px;
      color: #fff;
      stroke: #fff;
      fill: #fff;
      outline: none;
      transition: all 250ms;
      
    }

    &:first-child,
    &:last-child {
      width: 40px;
      height: 40px;
      background-color: #f7f7f7;
    }

    @include mobilmod() {
      &--desktop {
        display: none;
      }
    }

    &--isActive {
      width: 40px;
      height: 40px;
      background-color: #ff6b08;
      border-radius: 5px;
      color: #fff;
    }
  }

  &__link {
    display: flex;
    padding: 12px 8px;
  }

  &__icon {
    stroke: inherit;

    &--point {
      fill: inherit;
    }
  }
}
